/* Panel text-color */
.text-danger {
    color: #f56954 !important;
}

.text-primary {
    color: #0073b7 !important;
}

.text-success {
    color: #00a65a !important;
}

.text-warning {
    color: #f39c12 !important;
}

.text-no-state {
    color: #2fa4e7 !important;
}
/* Panel text-color */

/* Panel dont-break-out */
.dont-break-out {
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
/* Panel dont-break-out */

.invalid-feedback {
    color: #f56954 !important;
}
